<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./Partials/Head') %> 
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./Partials/headerLogueado')  %> 
<% } else {%>
		<%- include('./Partials/Header')  %> 
<% } %> 

	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
		<img src="stylesheets/images/fightclub-banner.webp" alt="Banner de zapatillas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for ( let i=0 ; i < producto.length; i++) { %>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/Product">
						<figure class="product-box_image">
							<img src= <%= producto[i].imagen %> alt="Imagen de zapatilla">
						</figure>
						<article class="product-box_data">
							<h2> <%= producto[i].modelo %> </h2>
							<p> <%= producto[i].descripcion%> </p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
			
	<!-- /Novedades -->


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
</body>	
</html>