<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
	<% } else{%>
		<%- include('./partials/Header')  %> 
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.modelo %></h2>
			<% if (locals.user && user.id == product.userId) { %>
		</div>

		<a href="/product/Add">
			<p class="buy-now-button">Agregar producto</p>
		</a>
		<% } %>

			<!-- product edit -->
		<% if (locals.user && user.id == product.userId) { %>
		</div>

		<a href="/product/<%product.id%>/edit">
			<p class="buy-now-button">Editar producto</p>
		</a>
		<% } %>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= product.descripcion %> </p>
				</article>

				

				<form class="form" action="/products/id/<%=product.id%>" method="POST">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario"> 
					<a type="submit" class="buy-now-button">AGREGAR COMENTARIO</a>
				</form>




				<!-- TODAVIA NO
						<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form> -->
				<hr>
			</div>
		</div>
	</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./Partials/Footer') %>
	<!-- /footer -->


</body>



</html>