<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./partials/Header') %> 
	<!-- /Header -->
	
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Nombre del producto</h2> 
			<p class="product-detail-description">
				<a href="/Product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="images/jordanBlack.png" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Zapatillas Nike "Jordan Black"</p>
				</article>

			
			<% for ( let i=0 ; i < Comentarios.length; i++) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					
								<img src= <%= Comentario[i].imagenDelPerfil %> alt="perfil de los users">
								<h2> <%= Comentarios[i].nombreDelUsuario %> </h2>
								<p> <%= Comentarios[i].textoDelComentario%> </p>
								
							
				</div>
				<% } %>


			
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div> 
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->


</body>	
</html>