<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %>

<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado')  %> 
	<% } else{%>
		<%- include('./partials/Header')  %> 
	<% } %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= producto.modelo %></h2>
			<% if (locals.user && users.id == product.users.id) { %>
		</div>

		<a href="/product/Add">
			<p class="buy-now-button">Agregar producto</p>
		</a>


		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= producto.imagen%>" alt="" class="product-detail-img">
					<p class="product-detail-description"> <%= producto.descripcion %> </p>
				</article>

				<div class="tamañoFotosPerfil">
					<% for (let i = 0; i < producto.comentario.length; i++) { %>
						<article>
							<img src= "/images/users/<%=producto.comentario[i].users.imagen%>" alt="img perfil">
							<div class="data">
								<p class="user">
								<strong> <a href="/profile/<%=producto.comentario[i].users.id%>"> <%=product.comentario[i].users.nombre%> <%=product.comment[i].users.apellido%> </a> </strong>
									<%= producto.comentario[i].comentario %> 
								</p>
							</div>
						</article>
						<% } %>
					</div>

				<form class="form" action="/products/id/<%=producto.id%>" method="POST">
					<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="comentario"> 
					<a type="submit" class="buy-now-button">AGREGAR COMENTARIO</a>
				</form>


				<!-- TODAVIA NO
						<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form> -->
				<hr>
			</div>
		</div>
	</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./Partials/Footer') %>
	<!-- /footer -->


</body>



</html>