<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./Partials/Head') %> 

<body>
	<!-- Header -->
	<%- include('./Partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				

				<form action="/" method="get" class="form-container">
					
				<ul>
				<li>
					<label for="imagen"><%= shoes.imagen %> </label>
					<input type="file" name="imagen" id="imagen">
				</li>
				<li>
					<label for="nombreDelProducto"> <%= shoes.modelo %> </label>
					<input type="text" name="nombreDelProducto" id="nombreDelProducto">
				</li>
				<li>
					<label for="descripcion"><%= shoes.descripcion %></label>
					<input type="text" name="descripcion" id="descripcion">
				</li>
				<li>
					<label for="fechaDeCarga">Fecha de Carga</label>
					<input type="date" name="fechaDeCarga" id="fechaDeCarga">
				</li>
				<li>
					<button type="submit">Agregar</button>
				</li>
					</ul>
				</form>
			//////////////// porque el uso de los tags para llamar a propiedades de variables del database?? LOS TAGS PERMITEN INCORPORAR FUNCIONALIDAD DE JS EN EL HTML//
			</h2>


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
	<!-- /footer -->
	
</body>

</html>