<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./Partials/Head') %> 
<body>
	<!-- Header -->
	<%- include('./Partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper ">
		<article class="form-register">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/comprador1.jpg" alt="foto de perfil" class="foto-perfil-usuario2">
			</div>
			<br>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="user-estilo"><%= users[0].nombreDeUsuario%></h1>
			</div>
				<div>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				<div>
					<div>
						<h1 class="user-estilo"><%= users[0].emailDelUsuario%></h1>
					</div>
					<ul class="Registercolor">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->

	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('./Partials/Footer') %> 
	<!-- /footer -->

</body>	
</html>