<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./Partials/Head') %> 
<body>
	<!-- Header -->
	<%- include('./Partials/headerLogueado') %> 
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="/images/users/<%=user.foto %>" alt="foto de perfil" class="foto-perfil"> 
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%=user.nombre%> <%=user.apellido%>  </h1>
			</div>
			<h3 class="main-title">Productos: <%=user.products.length %></h3>
					
					</div>
				</div>
			</section>
			<!-- /Datos del usuario -->
		
			<!-- /Mis productos -->
			<div class="container products-wrapper">
				<div class="row">
					<div class="col-12">
						<h2 class="products-title">My products</h2>
					</div>
					<!-- Show the "ultimos" products -->

							<% for (let i = 0; i < user.products.length; i++) { %>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="/product/<%= user.products[i].id %>">
										<figure class="product-box_image">
											<img src="/images/products/<%= user.products[i].imagen %>"  alt="shoes">
										</figure>
										<article class="product-box_data">
											<h2> <%= user.products[i].modelo  %>  </h2>
											<p> <%= user.products[i].descripcion  %> </p>
											<p>Creator: <%= user.nombre %> <%= user.apellido %> </p> 
										</article>
									</a>
								</section>
							</div>
							<% } %>
						</div>
					</div>
		
			<!-- footer -->
			<%- include('./partials/footer')  %> 
			<!-- /footer -->
		</body>	
		</html>